#home{
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
}

.left-section{
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.home-btn{
  background-color: #C6713A;
  margin: 0 auto;
  border-radius: .8em;
  padding: .1em 1em;
  text-decoration: none;
  color:white;
  font-size: 42px;
}

.home-title{
  font-size: 180px;
  color: #5A3116;
  line-height: 100%;
  
}
.home-slogan{
  font-size: 60px;
}

.right-section{
  width: 50%;
}

.right-section img{
  width: 90%;
  margin: 0 auto;
}

