#event{
  display: flex;
  justify-content: space-around;
}

.event-img{
  width: 48%;
  height: 100%;
}

.events{
  width: 40%;
  height: 82vh;
  overflow-y:scroll;
}

.event-list{
  list-style: none;
}


