header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 89%;
  margin: 2em auto;
}

.shop-name{
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 76px;
  font-weight: 400;
  color:#5A3116;
}
.shop-logo{
  text-decoration: none;
}
.express{
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 76px;
  font-weight: 400;
  color: #C6713A;
}

nav ul{
  list-style: none;
  display: flex;
}
.nav-el{
  text-decoration: none;
  font-size: 36px;
  color: #A4A4A4;
  font-weight: 600;
}
.nav-el:hover{
  color:#EFA676;
}

.nav-active{
  color: #C6713A;
  font-weight: 800;
}

nav ul li{
  padding-right: 3em;
}
nav ul li:nth-child(5){
  padding-right: 0em;
}
