.top-section-about{
  display: flex;
  justify-content: space-around;
  font-size: 48px;
  height: 9em;
}

.about-img{
  width: 40%;
  height: 100%;
}

.quotes{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 1em;
}

.bottom-section-about{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 19.4em;
  margin: 0 auto;
  margin-top: 1em;
  padding: 0 4em;
  padding-top: .5em;
  padding-bottom: 1em;
  width: 85%;
  background-color: #EFD495;
}
.about-title{
  font-size: 54px;
}
.about-desc{
  font-size: 42px;
}